/*
Theme Name:     Nashville Coin Theme
Theme URI: 	http://themeforest.net/user/artbees
Description:    Nashville Coin Jupiter Child Theme 
Author:         Horton Group
Theme URI: 	http://hortongroup.com
Template:       jupiter
Version:        5.1.7
*/



/* =============================================
    GENERAL THEME TWEAKS HERE
   ============================================= */

/* COLORS
   Tan = #86774f
   Dark Orange = #a85400
   Dark Gold = #b8912e
   Soft Gold = #cba135 
   Bright Gold = #c6930a 
   Yellow = #d4b70d
*/


/* =============================================
    GENERAL SITE ELEMENTS
   ============================================= */

h1,h2,h3,h4 {
    font-family: "Gentium Book Basic";
}

/* Google Map Directions Going to Middle of I65 so Hide */
.place-card .navigate {
    display: none !important;
}


.home .hidden-sm {
    display: block !important;
}
.theme-page-wrapper .mk-message-box.mk-info-message-box,
.theme-page-wrapper .mk-message-box.mk-confirm-message-box {
    background-color: #cba135;
    border-color: #86774f;
    margin-bottom: 10px;
    padding: 4px 10px;
}
.theme-page-wrapper .mk-message-box.mk-info-message-box a:hover, 
.theme-page-wrapper .mk-message-box.mk-confirm-message-box a:hover {
    color: #fff;
}
.mk-message-box.mk-confirm-message-box .button.wc-forward {
    background-color: #01652A !important;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce-page form .form-row input.input-text, .woocommerce-page form .form-row textarea {
    line-height: 1.25em;
}

/* =============================================
    HEADER
   ============================================= */
.mk-login-register
{
  width:initial;
  min-width:250px;
}

.mk-header-tagline {
    font-family: "Gentium Book Basic";
    font-size: 105%;
}
.mk-header-tagline .mobile-break {
  display: inline;
}      
.mk-header-tagline a {
    font-size: 15px;
}
.mk-breadcrumbs-inner {
  float: left;
  margin: 0 0px -10px 0 !important;
  padding: 10px 0 !important;
  width: 100%;
  border-top: 1px solid #333;
}
.mk-breadcrumbs-inner.dark-skin {
  color: #eee !important;
  font-size: 90% !important;
  font-weight: normal !important;
  text-align: right;
}
.mk-breadcrumbs-inner.dark-skin a {
  color: #b8912e !important;
}
.mk-header-social ul {
    margin: 0;
}
/* May need to unhide this after upgrade to 5.1.4 */
.mk-moon-cart-2 svg.mk-svg-icon {
    display: none;
}
.mk-header-social ul li a {
    color: #d4b70d;
}

/* =============================================
    HOME PAGE TWEAKS
   ============================================= */
.mk-edge-wrapper .mk-section-preloader {
    background-color: transparent !important;
    background: transparent !important;
}
.mk-edge-slider .edge-title {
    font-family: "Gentium Book Basic";
}
.home .mk-product-loop .products {
    width: 100% !important;
}
@media (min-width: 767px) { 
.home .mk-product-loop .product-category {
        max-width: 32% !important;
        width: 32% !important;
        position: relative !important;
        left: 10px !important;
    }
}
/* .mk-edge-slider .mk-slider-slide .edge-slide-content {
    padding: 50px !important;
    background: rgba(10,10,10,.70);
} */


/* =============================================
    PRODUCT PAGES
   ============================================= */
.stock.out-of-stock {
    margin: -42px 0 0 0px !important;
    line-height: 110% !important;
    background-color: #cba135 !important;
    border: 1px solid #86774f;
    padding: 5px 10px !important;
}
.mk-product.style-default .mk-single-price .amount {
  color: #b8912e !important;
}
.woocommerce-page .page-subtitle {
    display: none;
}


/* =============================================
    FOOTER
   ============================================= */
#mk-footer, #mk-footer p {
    color: #ddd;
}
#mk-footer .footer-wrapper .widget {
    margin-bottom: 10px;
}
#mk-footer .footer-wrapper .widget_social_networks {
    margin-bottom: 15px;
}
#mk-footer .product_list_widget li {
    margin: 0;
}
#mk-footer .widget:not(.widget_social_networks) a {
    color: #c6930a;
}
#mk-footer .widget:not(.widget_social_networks) a:hover {
    color: #a86c30;
}


/* =============================================
    MEDIA QUERIES
   ============================================= */

@media only screen and (min-width:780px) and (max-width: 980px)  {
    .mk-header-tagline {
        font-family: "Gentium Book Basic";
        font-size: 90%;
    }
    .mk-toolbar-holder {
        padding: 0 10px;
    }
}

@media only screen and (min-width:780px) and (max-width: 875px)  {
    .mk-header-toolbar {
        min-height: 100px !important;
    }
    .mk-header-tagline font {
        float: left;
        line-height: 100%;
        width: 100% !important;
    }        
    .mk-header-login, .mk-header-social {
   
    }
}




@media (max-width: 768px) { 
	.home .page-section-content {
   	  display: none !important;
	}
	.home .mk-page-section {
    	  min-height: 0;
	}

}

@media handheld, only screen and (max-width: 780px) {
    .mk-header-toolbar {
        display: block;
        text-align: center; 
    }
    .header-toolbar-contact {
    }
    .header-toolbar-contact:after {
        border-bottom: 1px solid #544a31;
        content: "Call Us to Schedule an Appointment";
        float: left;
        font-family:"Gentium Book Basic" ;
        font-size: 115%;
        font-weight: bold;
        line-height: 110% !important;
        padding: 1px 0 1px 0;
        margin-bottom: 4px !important;
        width: 100%;
    }
    .mk-header-tagline {
        font-size: 100%;
        line-height: 100% !important;
    }
    .mk-toolbar-resposnive-icon {
        display:none ;
    }
    .mk-header-social, .mk-header-login {
        display: inline !important;
        width: 50% !important;
        float: left !important;
        margin: 0 !important;
    }
}

@media handheld, only screen and (max-width: 480px) {
    a, p {
        word-wrap: normal;
    }
}